@media screen and (max-width: 600px){
	.content-action{
		position: relative;
		margin: 0 0 10px 0;
		text-align: center;
	}
	.menu {
		padding: 10px 0;
	}
	.menu img{
		float: none;
	}

	.menu ul{
		float: none;
		padding: 0;

	}
	.menu ul li{
		padding-left: 0;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 0;
		text-align: center;
		/* background: #ef4c03; */
		background: #ff6700;
	}
	.menu ul li a{
		color: #FFF;
		font-weight: bold;
	}

	.main-header{
		padding: 15px 0;
	}
}